.tableComp
  background-color: #33C4FF

.paginationStyle               
  margin-top: 0.3rem

  button
    height: 1.5rem
    width: 3.55rem
    border: 0.01rem solid
    font-weight: bold
    &:hover 
      background-color: #999391

.tableByProvider
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif
  border-collapse: collapse
  text-align: center
  height: 50px

  td, th
    border: 1px solid #ddd
    padding: 8px
    text-align: center
  
  tr
    &:nth-child(even)
      background-color: #f2f2f2
  
    &:hover
      background-color: #ddd

  th
    padding-top: 12px
    padding-bottom: 12px
    text-align: center
    background-color: black
    color: white

.grayFont
  display: flex
  flex-direction: column
  align-items: center

.searchBoxStyle
  padding: 6px
  margin-top: 8px
  font-size: 17px
  border: 1px solid #dddddd
  margin-bottom: 0.3rem